*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #ECEEF1;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #0077C5;
	text-decoration: none;
}
a:hover  {
	text-decoration: underline;
}

.headnav {
	margin-right: 40px;
	padding: 10px 0 40px 0;
	display: flex;
	justify-content: flex-end; 
}

.divbtn {
	order: 2;
}

.bluebtn {
	background: #0077C5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
	color: white;
	cursor: pointer;		
}

.nav-submit {
	padding: 5px 18px; 	
}

.white-padlock {
	padding: 0 10px 0 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
}

.navdiv-qns {
	font-size: 11px;
	margin-right: 10px;
	color: #737472;
	order: 1;
}
.navdiv-qns > div  {
  padding: 4px 0;
}

/* #nav-link {
	color: #0077C5;
	text-decoration: none;
}

#nav-link:hover {
  text-decoration: underline;	
} */

.intuit {
	margin: auto;
	width: 120px;
}

.intuit > img {
	width: 100%;  
	opacity: 0.4;
}

.threelogos {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0 20px 0 ;
}

.threelogos > span {
	width: 25px;
	height: 25px;
	margin-right: 3px;
}

.threelogos > span > img {
	width: 100%;
	height: inherit;
	object-fit: contain;
	
}

.imgtag {
	color: #6B6C72;
	font-size: 18px;
	margin-right: 7px;
} 
